@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/fonts/OpenSans-Bold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(/fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Condensed Bold'), local('OpenSans-CondensedBold'), url(/fonts/OpenSans-CondBold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(/fonts/OpenSans-Semibold.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/fonts/OpenSans-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Droid Sans Mono';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans Mono'), local('DroidSansMono'), url(/fonts/DroidSansMono.ttf) format('truetype');
}


html, body {
  height: 100%;
  background: #ddd6cb;
}
a {
  color: #364563;
  text-decoration: none;
}
a:hover {
  color: #29303d;
}
h1, h2, h3, h4 {
  margin: 0;
}

/* Tables */

.table table.docutils {
  margin: 2em;
  border: 0;
  border-spacing: 0;
  border-top: 1px solid #c7c7ca;
}
.table table.docutils th {
  border: 0;
  border-bottom: 1px solid #c7c7ca;
  text-align: left;
  padding: .4em .6em .4em .6em;
  background: #eee;
}
.table table.docutils td {
  padding: .2em .5em ;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #c7c7ca;
}

#doc h1 {
  font-size: 1.38em;
  font-weight: 700;
  font-family: "Open Sans Condensed";
}
h1, h2, h3 {
  font-family: "Open Sans";
  font-variant: normal;
  font-style: normal;
}
h1 {
  font-weight: 300;
  font-size: 2.25rem;
  margin: 0.2em 0 0.15em 0;
}
h2 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0.2em 0 0.15em 0;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
}
header {
  padding: 0.6em 0.8em 0.6em 0;
  height: 1.9em;
  margin: 0;
  background: #29303d;
  position: relative;
}
header a {
  color: #eef;
}
header a:hover {
  color: white;
}
.logo {
  margin: 0;
  margin-right: 0.2em;
  padding-left: .5em;
  font-size: 1.375em;
  font-weight: bold;
  float: left;
  border-right: 1px solid rgba(255, 255, 255, 0.1);
}
header nav {
  display: inline;
}
header .logo img {
  vertical-align: top;
  margin-right: .4em;
}
header span.text {
  padding-left: 0;
  padding-right: .5em;
  margin-left: -0.2em;
}
header span.orange {
  color: orange;
}
header ul {
  margin: 0;
  padding: 0 0 0.2em 0;
  display: inline;
  list-style-type: none;
}
header ul li {
  margin-left: 0.62em;
  display: inline;
  line-height: 2em;
  padding: 0.2em 0.3em 0.2em 0.3em;
}
header .smaller {
  font-size: 0.8em;
}
header .left {
  float: left;
}
header .right {
  float: right;
}
#user {
  position: relative;
}
header .dropdown {
  display: none;
  background: black;
  position: absolute;
  right: -.5em;
  top: 2em;
  width: 10em;
  background: #29303d;
  padding: .3em 0;
  line-height: 1.6em;
  border: 1px solid #29303d;
  border-radius: .5em;
}
header .dropdown a {
  padding: .3em .7em;
  display: block;
}
header .dropdown a:hover {
  background: white;
  color: black;
}

footer {
  border-top: 1px solid #c9cfd8;
  color: #666;
  padding: 1em 1em 5em 0;
}
footer .logo {
  color: white;
  margin: 0 2em 0 .5em;
}
footer .logo .orange {
  color: #afaba0;
}
footer .logo:hover {
  color: white;
}
footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
footer ul li {
  margin-left: 1.52em;
  display: inline;
  line-height: 2em;
  padding: 0.2em 0.3em 0.2em 0.3em;
}
footer a {
  color: #777;
}
footer a:hover {
  color: #444;
}

.inner {
  margin: auto;
}
#top {
  background: #f3f3f5;
  border-bottom: 1px solid #e7ebff;
  padding: .5em .5em 0 .5em;
}
#top .inner {
  position: relative;
}
#top .inner h1 {
  padding-top: 0.7em;
  line-height: 1.4em;
  color: #29393d;
}
#top .inner nav {
  position: absolute;
  top: 0;
  left: 0;
}
#top .inner nav div[fragment] {
  display: inline-block;
}
#top .inner nav a {
  font-size: 0.8em;
  padding-right: 0.7em;
  margin-right: .4em;
}
#top .inner nav a.item {
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid #a5abbe;
  background: #dadee9;
  border-radius: 0.3em;
  color: #505c6f;
}
#top .inner nav a.item:hover {
  background: #ebe8df;
}

#vid {
  margin-top: 1.2em;
  margin-bottom: 2.4em;
  background-color: #666;
  background-image: url(/img/play.png);
  background-position: center;
  background-repeat: no-repeat;
}
#vid img {
  cursor: pointer;
  width: 100%;
}

#body {
  background: #fff;
}

#message {
  display: none;
  position: absolute;
  top: 3.2em;
  left: 40%;
  width: 20%;
  color: white;
  background: rgba(255, 0, 0, .85);
  padding: .5em 1em;
  text-align: center;
  border: 1px solid rgb(200, 0, 0);
  border-radius: .2em;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .3);
  font-size: 1.1em;
  font-weight: bold;
}

#content {
  padding: .7em;
  padding-bottom: 5em;
  min-height: 45em;
}
#content > p {
  margin: 0;
  margin-bottom: 1.5em;
}
#doc {
  width: 100%;
}

#doc .image {
  width: 100%;
  text-align: center;
}
.concept {
  margin-bottom: .7em;
}
.concept div {
  display: inline-block;
}
.concept .num {
  margin: 0;
  margin-right: .3em;
  border-radius: 0.2em;
  color: #666;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #ddd;
}
.topic .list {
  width: 400px;
  float: left;
  margin-bottom: 2em;
}
.concept a {
  font-weight: bold;
}
.topic {
  font-size: 1.1em;
  vertical-align: top;
}
a:hover .num {
  background: #bbb;
}
#map {
  width: 100%;
  height: 600px;
  float: left;
}
pre, tt {
  font-family: "Droid Sans Mono", monospace;
  background: #eee;
}
tt {
  font-size: 90%;
}
pre {
  font-size: 0.875em;
  line-height: 1.125em;
  padding: 0.62em 0.95em;
  border: 1px solid #ccc;
  overflow: auto;
}
/* footnotes */
.footnote {
  font-size: 0.8rem;
}
hr {
  margin: 3em auto 1em auto;
  border: 0;
  height: 1px;
  background: #ccc;
}
a.fn-backref {
  font-size: 0.8rem;
  margin-right: .2em;
}


ul#cursos {
  padding: 0;
}
ul#cursos li {
  border: 1px solid #ddd;
  border-radius: 0.3em;
  margin: 0 0.75em 0.95em 0;
  display: inline-block;
  height: 11em;
  width: 8.6em;
  padding: 0.5em;
}
ul#cursos li a {
  font-weight: bold;
}
ul#cursos li a h4 {
  margin: 0;
}
ul.course {
  width: 100%;
  margin: 0;
  padding-bottom: .5em;
  padding: 0;
}
ul.course .topic {
  font-size: .9em;
  border-top: 1px solid #e7e7e7;
  list-style-type: none;
  padding: .4em 0 .4em 0;
}
ul.course .topic .left {
  display: inline-block;
  margin-left: .3em;
  margin-bottom: .7em;
}
ul.course .topic .left h3 {
  margin-bottom: 0.125em;
  font-size: 1.3em;
}
ul.course .topic .left p {
  margin: 0;
  font-size: 80%;
  color: #777;
}
ul.course .topic .concepts {
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 100%;
}
ul.course .topic .concepts li {
  display: inline-block;
}
ul.course .topic .concepts li a {
  color: #575d68;
  display: block;
  margin: 0.3em 0.2em;
  background: #d4d7db;
  text-align: center;
  font-size: 1.1em;
  width: 2em;
  height: 2em;
  line-height: 2em;
  border-radius: 0.2em;
}
ul.course .topic .concepts li a:hover {
  background-color: #ebe8df;
}

.tooltip {
  position: relative;
}
.tooltip:hover:after {
  font-size: 92%;
  content: attr(tooltip);
  position: absolute;
  color: white;
  /* whitespace: no-wrap; */
  padding: .3em .7em;
  border-radius: .3em;
  min-width: 7em;
  background: rgba(0, 0, 0, 0.75);
  bottom: 3em;
  left: -2.7em;
  z-index: 10;
}

.clear {
  clear: both;
}

#login_form {
  width: 35em;
  margin: 5em auto;
  border: 1px solid #ddd;
  border-width: 1px 1px 2px;
  border-radius: 7px;
}
#login_form h1 {
  margin: 0;
  padding: .2em .5em;
  border-bottom: #29303d;
  background: #f3f3f5;
}
#login_form h1 .small {
  margin-left: .7em;
  font-size: .7em;
}
#login_form form {
  padding: 1.2em 1.4em;
}
#login_form label {
  padding: 0;
  display: inline-block;
  width: 100%;
  font-size: 1.2em;
  color: #444;
}
#login_form input.text {
  width: 23.5em;
  padding: 0 .35em;
  border: 1px solid #ddd;
  margin: .2em 0 1em 0;
  height: 2em;
  line-height: 2em;
  font-size: 1.1em;
  font-family: "Open Sans";
}
#login_form button[type=submit] {
  margin-top: 1.2em;
  padding: .5em 1em;
  color: #333;
  font-family: "Open Sans";
  font-size: 1.2em;
}


.fraglist {
  margin: 0;
  padding: 1.25em;
}
.fraglist ul {
  padding: 0;
  margin: 0;
}
.fraglist ul li {
  list-style-type: none;
}
.fraglist p {
  margin: 0 0 0.3em 0;
}
.fraglist tt {
  font-size: 1em;
  font-weight: bold;
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  background-color: #cec;
  cursor: pointer;
}
.fraglist pre {
  margin: 0;
  padding: 0.3em;
  background-color: #ccc;
  font-size: 0.75em;
  margin-bottom: 1.5em;
}

/* phones and tablets */
@media screen and (max-width: 480px) {
  #login_form {
    width: 100%;
  }
  #login_form input.text {
    width: 92%;
  }
}
@media screen and (max-width: 750px) {
  .logo span.text {
    display: none;
  }
  #top .inner h1 {
    padding-top: 0.8em;
  }
  #top .inner nav a {
    font-size: 1.1em;
    padding-right: 0.7em;
    margin-right: .4em;
  }
  #top .inner nav a.item {
    padding: 0.2em 0.7em 0.2em 0.7em;
    border-radius: 0.3em;
  }
  ul.course .topic .concepts li a {
    margin: 0.3em 0.2em;
    font-size: 1.4em;
    width: 2.3em;
    height: 2.3em;
    line-height: 2.3em;
    border-radius: 0.3em;
  }
  .topic {
    font-size: 1.3em;
  }
  #doc {
    font-size: .8em;    
  }
  ul.course .topic .left {
    font-size: 1.3em;
  }
}

/* big phone */
@media screen and (min-width: 480px) {
  #map { 
    clear: none; 
    display: block; 
    width: 100%;
    height: 600px;
  }
}

/* tablet */
@media screen and (min-width: 800px) {
  #content, #top .inner { 
    width: 720px; 
    margin-left: auto;
    margin-right: auto;
  }
  #content > p {
    width: 40em;
  }
  ul.course { 
    width: 720px; 
  }
  ul.course .topic .concepts {
    width: 370px;
    float: right;
  }
  #map { 
    clear: none; 
    display: block; 
    width: 100%;
    height: 700px;
  }
}

/* desktop */
@media screen and (min-width: 1200px) {
  #content, #top .inner { 
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
  }
  #content > p {
    width: 40em;
  }
  #doc, #vid {
    width: 45em;
  }
  ul.course { 
    width: 1050px; 
  }
  ul.course .topic .concepts {
    width: 740px;
    float: right;
  }
  #map { 
    clear: none; 
    display: block; 
    width: 350px;
    height: 500px;
  }
  #top .inner h1 {
    padding-top: .7em;
  }
  #top .inner nav a {
    font-size: 0.8em;
    padding-right: 0.7em;
    margin-right: .4em;
  }
  #top .inner nav a.item {
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 0.3em;
  }
}

.member {
  width: 25em;
  height: 3em;
  padding: 1em 0 .5em 0;
}
.member img {
  float: left;
  margin-right: 1em;
}
.member h4 {
  font-weight: 400;
  font-size: 1rem;
}
