{{define "navbar"}}
<div class="inner">
  <a href="/" id="home"><span class="orange">academ</span>.io</a>
  <nav><ul>
    <li class="active"><a href="/cursos">Cursos</a></li>
  </ul></nav>
</div>
{{end}}

{{define "footer"}}
<div class="inner">
  This is the footer, yay!
</div>
{{end}}

{{define "home"}}
<div id="content">
  <h1>Inicio</h1>
  <p>Esta es la página principal</p>
  <p>Aquí hay algunos <a href="/cursos">cursos</a></p>
</div>
{{end}}

{{define "courses"}}
<div id="content">
  <h1>Cursos</h1>
  <ul id="cursos">
    {{range .Items}}
    <li>
      <a ajx href="/{{.Id}}">
        <img src="http://placehold.it/120x120">
        <h4>{{.Title}}</h4>
      </a>
    </li>
    {{end}}
  </ul>
</div>
{{end}}

{{define "item-link"}}
<a ajx class="item" href="/{{.Id}}">{{.Title}}</a>
{{end}}

{{define "item-nav"}}
<nav>
  <a ajx href="/cursos">cursos</a>{{range .Path}}&gt;{% item-link {{.}} %}{{end}}
</nav>
{{end}}
