{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>Academio - {% title %}</title>

  <link rel="stylesheet/less" type="text/css"
        href="/css/academio.less">

  <script src="/js/lib/all.js"   type="text/javascript"></script>

  <script src="/js/fragments.js" type="text/javascript"></script>
  <script src="/js/map.js"       type="text/javascript"></script>
</head>
<body>
  <header>{% navbar %}</header>
  <div fragment="_root">{% body %}</div>
  <footer>{% footer %}</footer>
</body>
</html>
{{end}}
