{{define "topic"}}
<div id="top">
  <div class="inner">
    <h1>{{.Title}}</h1>
    {% item-nav {{.Id}} %}
  </div>
</div>
<div id="content" class="topic">
  <p>{{.Data.Doc.Html}}</p>
  {{range $i, $item := .Items}}
  <div class="concept">
    <div class="num">{{plus1 $i}}</div>
    {% item-link {{.Id}} %}
  </div>
  {{end}}
  </ul>
</div>
{{end}}

{{define "topic-small"}}
<li class="topic">
  <div class="left">
    <a ajx href="{{.Id}}">
      <h3>{{.Title}}</h3>
    </a>
    <p>{{len .Items}} Conceptos</p>
  </div>
  <ul class="concepts">{{range $i, $item := .Items}}
    <li><a ajx href="{{$item.Id}}" rel="tooltip" title="{{$item.Title}}">{{plus1 $i}}</a></li>{{end}}
  </ul>
  <div class="clear"></div>
</li>
{{end}}
