{{define "topic"}}
<h1>{{.Title}}</h1>
<p>{{.Data.Doc.Html}}</p>
<ul>
  {{range .Items}}
  <li><a href="/{{.Id}}">{{.Title}}</a></li>
  {{end}}
</ul>
{{end}}

{{define "topic-small"}}
<li class="topic">
  <div class="left">
    <a href="{{.Id}}">
      <h3>{{.Title}}</h3>
    </a>
    <p>{{len .Items}} Conceptos</p>
  </div>
  <ul class="concepts">
    {{range $i, $item := .Items}}
    <li>
      <a href="{{$item.Id}}" 
         rel="tooltip" title="{{$item.Title}}">
        {{plus1 $i}}
      </a>
    </li>
    {{end}}
  </ul>
  <div class="clear"></div>
</li>
{{end}}
