{{define "navbar"}}
<ul>
  {{if .User}}
  <li id="user">
    <a href="/u/{{.User.Login}}">{{.User.Login}}</a>
    <div class="dropdown">
      <a href="/logout">Salir</a>
    </div>
  </li>
  {{else}}
  <li><a href="/login">Entra</a></li>
  {{end}}
</ul>
{{end}}


{{define "courses"}}
<div id="content">
  <h1>Cursos</h1>
  <ul id="cursos">
    {{range .Items}}
    <li>
      <a ajx href="/{{.Id}}">
        <img src="/png/{{.Id}}" width="120" height="120">
        <h4>{{.Title}}</h4>
      </a>
    </li>
    {{end}}
  </ul>
</div>
{{end}}


{{define "item-link"}}
<a ajx class="item" href="/{{.Id}}">{{.Title}}</a>
{{end}}


{{define "item-nav"}}
<nav>{{range .Path}}
  {% item-link {{.}} %}{{end}}
</nav>
{{end}}


{{define "course"}}
<div id="top">
  <div class="inner">
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content" class="course">
  {{.Data.Doc.Html}}
  <ul class="course">{{range .Items}}
    {% topic-small {{.Id}} %}{{end}}
  </ul>
</div>
{{end}}


{{define "topic"}}
<div id="top">
  <div class="inner">
    {% item-nav {{.Id}} %}
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content">
  {{.Data.Doc.Html}}
  <div class="topic">
    <div class="list">
      {{range .ChildrenInfo}}
      <div class="concept" x="{{.Coords.X}}" y="{{.Coords.Y}}" deps="{{.Deps}}">
        <div class="num">{{.Index}}</div>
        <a ajx class="item" href="/{{.Item.Id}}">{{.Item.Title}}</a>
      </div>
      {{end}}
    </div>
    <div id="map">
      <canvas id="c" width="500" height="500"></canvas>
    </div>
  </div>
  <div class="clear"></div>
  <script>
    fragments.ready(academio.updateMap);
  </script>
</div>
{{end}}


{{define "topic-small"}}
<li class="topic">
  <div class="left">
    <a ajx href="/{{.Id}}">
      <h3>{{.Title}}</h3>
    </a>
    <p>{{len .Items}} Conceptos</p>
  </div>
  <ul class="concepts">{{range $i, $item := .Items}}
    <li>
      <span class="tooltip" tooltip="{{$item.Title}}">
        <a ajx href="/{{$item.Id}}">{{plus1 $i}}</a>
      </span>
    </li>{{end}}
  </ul>
  <div class="clear"></div>
</li>
{{end}}


{{define "concept"}}
<div id="top">
  <div class="inner">
    {% item-nav {{.Id}} %}
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content" class="topic">
  <div id="vid" videoid="{{.VideoID}}"><img src="/img/video.png"></div>
  <div id="doc">{{.Data.Doc.Html}}</div>
  <div class="clear"></div>
</div>
<script>
fragments.ready(function() {
  $('#vid').click(academio.showVideo);
  MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
});
</script>
{{end}}


{{define "concept-small"}}
<a ajx href="/{{.Id}}">{{.Title}}</a>
{{end}}

{{/* Static */}}

{{define "notfound"}}
<div id="content">
  <h1>Página no encontrada...</h1>
  <p>Lo sentimos, la dirección <tt>{{.}}</tt> no se corresponde con 
    ninguna página de <a href="https://academ.io">academ.io</a>.
    <p>De todas maneras, hemos encontrado este programa:</p>
<pre>
#include &lt;iostream&gt;
using namespace std;

int main() {
   cout << "Página no encontrada" << endl;
}
</pre>
</div>
{{end}}

{{define "home"}}
<div id="content">
  <h1>Inicio</h1>
  <p>Esta es la página principal</p>
  <p>Aquí hay algunos <a href="/cursos">cursos</a></p>
</div>
{{end}}

{{define "login"}}
<div id="content">
  <div id="login_form">
    <h1>Entra<span class="small">(o <a href="/register">Regístrate</a>)</span></h1>
    <form action="/login" method="post">
      <label>Usuario<br />
        <input class="text"
               autocapitalize="off" autofocus="autofocus" tabindex="1"
               name="login" type="text" id="inputlogin">
      </label>
      <label>Contraseña<br />
        <input class="text"
               autocomplete="disabled" tabindex="2"
               name="password" type="password" id="inputpass1">
      </label>
      <button tabindex="3" type="submit">Entra</button>
    </form>
  </div>
</div>
{{end}}
