{{define "navbar"}}
<ul>
  {{if .User}}
  <li id="user">
    <a href="/u/{{.User.Login}}">{{.User.Login}}</a>
    <div class="dropdown">
      <a href="/logout">Salir</a>
    </div>
  </li>
  {{else}}
  <li><a href="/login">Entra</a></li>
  {{end}}
</ul>
{{end}}


{{define "courses"}}
<div id="content">
  <h1>Cursos</h1>
  <ul id="cursos">
    {{range .Items}}
    <li>
      <a ajx href="/{{.Id}}">
        <img src="/png/{{.Id}}" width="120" height="120">
        <h4>{{.Title}}</h4>
      </a>
    </li>
    {{end}}
  </ul>
</div>
{{end}}


{{define "item-link"}}
<a ajx class="item" href="/{{.Id}}">{{.Title}}</a>
{{end}}


{{define "item-nav"}}
<nav>{{range .Path}}
  {% item-link {{.}} %}{{end}}
</nav>
{{end}}


{{define "course"}}
<div id="top">
  <div class="inner">
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content" class="course">
  {{.Data.Doc.Html}}
  <ul class="course">{{range .Items}}
    {% topic-small {{.Id}} %}{{end}}
  </ul>
</div>
{{end}}


{{define "topic"}}
<div id="top">
  <div class="inner">
    {% item-nav {{.Id}} %}
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content">
  {{.Data.Doc.Html}}
  <div class="topic">
    <div class="list">
      {{range .ChildrenInfo}}
      <div class="concept" x="{{.Coords.X}}" y="{{.Coords.Y}}" deps="{{.Deps}}">
        <div class="num">{{.Index}}</div>
        <a ajx class="item" href="/{{.Item.Id}}">{{.Item.Title}}</a>
      </div>
      {{end}}
    </div>
    <div id="map">
      <canvas id="c" width="500" height="500"></canvas>
    </div>
  </div>
  <div class="clear"></div>
  <script>
    fragments.ready(academio.updateMap);
  </script>
</div>
{{end}}


{{define "topic-small"}}
<li class="topic">
  <div class="left">
    <a ajx href="/{{.Id}}">
      <h3>{{.Title}}</h3>
    </a>
    <p>{{len .Items}} Conceptos</p>
  </div>
  <ul class="concepts">{{range $i, $item := .Items}}
    <li>
      <span class="tooltip" tooltip="{{$item.Title}}">
        <a ajx href="/{{$item.Id}}">{{plus1 $i}}</a>
      </span>
    </li>{{end}}
  </ul>
  <div class="clear"></div>
</li>
{{end}}


{{define "concept"}}
<div id="top">
  <div class="inner">
    {% item-nav {{.Id}} %}
    <h1>{{.Title}}</h1>
  </div>
</div>
<div id="content" class="topic">
  <div id="vid" videoid="{{.VideoID}}">
    <img src="/img/video.png">
  </div>
  <div id="doc">
    {{.Data.Doc.Html}}
  </div>
  <div class="clear"></div>
  <script>
    fragments.ready(function () {
      MathJax.Hub.Queue(["Typeset",MathJax.Hub]);
    });
  </script>
</div>

<script>
$(document).ready(function() {
  $('#vid img').click(academio.showVideo);
});
</script>
{{end}}


{{define "concept-small"}}
<a ajx href="/{{.Id}}">{{.Title}}</a>
{{end}}



