{{define "layout"}}
<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{{ .Title }} - Academio</title>

  <meta name="viewport" 
        content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/css/academio.css">

  <script src="/js/lib/zepto.min.js"  type="text/javascript"></script>
  <script src="/js/lib/fabric-0.8.32.min.js" type="text/javascript"></script>
  
  <script src="https://c328740.ssl.cf1.rackcdn.com/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" 
          type="text/javascript"></script>
  
  <script src="/js/fragments.js"            type="text/javascript"></script>
  <script src="/js/academio.js"             type="text/javascript"></script>
</head>
<body>
  <header>
    <div id="message">{{ .Message }}</div>
    <a href="/" class="logo">
      <img src="/img/logo.png">
      <span class="text">
        <span class="orange">academ</span>.io
      </span>
    </a>
    <div class="left">
      <ul>
        <li><a href="/cursos">Cursos</a></li>
      </ul>
    </div>
    <div id="navbar" class="right">
      {{ .Navbar }}
    </div>
  </header>
  <div id="body" fragment="_root">{{ .Body }}</div>
  <footer>
    <div class="inner">
      <a href="/" class="logo"><span class="orange">academ</span>.io</a>
      <div class="left">
        <ul>
          <li><a href="/">Acerca de</a></li>
          <li><a href="/">Blog</a></li>
          <li><a href="/">Equipo</a></li>
          <li><a href="/">Contacto</a></li>
        </ul>
      </div>
    </div>
  </footer>
</body>
</html>
{{end}}
