{{define "navbar"}}
<a href="/" class="logo"><span class="orange">academ</span>.io</a>
<nav><ul>
    <li class="active"><a href="/cursos">Cursos</a></li>
</ul></nav>
{{end}}


{{define "home"}}
<div id="content">
  <h1>Inicio</h1>
  <p>Esta es la página principal</p>
  <p>Aquí hay algunos <a href="/cursos">cursos</a></p>
</div>
{{end}}

{{define "footer"}}
<div class="inner">
  <ul>
  <li class="logo"><span class="orange">academ</span>.io</li>
  <li><a href="/">Acerca de</a></li>
  <li><a href="/">Equipo</a></li>
  <li><a href="/">Contacto</a></li>
  <ul>
</div>
{{end}}

{{define "login"}}
<div id="content">
  <form action="/login" method="post">
    <fieldset>
      <label>Login</label>
      <input name="login" type="text" id="inputlogin">
      <label>Password</label>
      <input name="password" type="password" id="inputpass1">
      <button type="submit">Entra</button>
    </fieldset>
  </form>
</div>
{{end}}
