{{define "home"}}
<h1>Inicio</h1>
<p>Esta es la página principal</p>
<p>Aquí hay algunos <a href="/cursos">cursos</a></p>
{{end}}

{{define "navbar"}}
<div class="inner">
  <a href="/" id="home"><span class="orange">academ</span>.io</a>
  <nav><ul>
    <li class="active"><a href="/cursos">Cursos</a></li>
  </ul></nav>
</div>
{{end}}

{{define "courses"}}
<h1>Cursos</h1>
<ul id="cursos">
  {{range .Items}}
  <li>
    <a href="/{{.Id}}">
      <img src="http://placehold.it/120x120">
      <h4>{{.Title}}</h4>
    </a>
  </li>
  {{end}}
</ul>
{{end}}

{{define "course"}}
<h1>{{.Title}}</h1>
<p>{{.Data.Doc.Html}}</p>
<ul>
  {{range .Items}}
  <li><a href="/{{.Id}}">{{.Title}}</a></li>
  {{end}}
</ul>
{{end}}

{{define "topic"}}
<h1>{{.Title}}</h1>
<p>{{.Data.Doc.Html}}</p>
<ul>
  {{range .Items}}
  <li><a href="/{{.Id}}">{{.Title}}</a></li>
  {{end}}
</ul>
{{end}}

{{define "concept"}}
<h1>{{.Title}}</h1>
<p><b>Video:</b> {{.VideoID}}</p>
<div class="doc">
{{.Data.Doc.Html}}
</div>
{{end}}

{{define "footer"}}
<div class="inner">
  This is the footer, yay!
</div>
{{end}}
