
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");

@monospace: "Droid Sans Mono", monospace;

@base: hsl(220, 30%, 30%);
@oppo: hsl(40, 70%, 100%);
@dark: desaturate(darken(@base, 10%), 10%);

@width: 950px;

html, body {
  height: 100%;
}

a { 
  color: @base;
  text-decoration: none; 
}
a:hover {
  color: @dark;
}
h1, h2, h3, h4 { margin: 0; }
#doc h1 { 
  font-size: 22px; 
  font-weight: 700;
  font-family: "Open Sans Condensed";
}
h1 { 
  font-family: "Open Sans";
  font-weight: 300;
  margin: 9px 0 5px 0;
  font-variant: normal;
  font-style: normal;
  font-size: 36px; 
}

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

header {
  padding: 8px 0 10px;
  margin: 0;
  background: @dark;
  position: relative;

  a {
    color: white;
    text-decoration: none;
  }

  a:hover {
    color: #eee;
  }

  .inner {
    width: 950px;
    margin: auto;

    a#home { 
      margin: 0; 
      margin-right: 15px;
      font-size: 22px;
      font-weight: bold;
    } 

    nav { display: inline; }

    span.orange {
      color: orange;
    }

    ul {
      margin: 0;
      padding: 0 0 3px 0;
      display: inline;
      li { 
        margin-left: 10px;
        list-style-type: none; 
        display: inline;
        padding: 3px 5px 3px 5px;
        border-radius: 3px;
        .active {
          background: lighten(@dark, 5%);
        }
      }
    }
  }
}

footer {
  background: @dark;
  color: white;
  padding: 20px 0 100px;
  
  .inner {
    width: @width;
    margin: auto;
  }
}

#top {
  background: #f3f3f3;
  border-bottom: 1px solid #d7d7d7;
  padding: 3px 0 0 0;
  
  .inner {
    width: @width;
    margin: auto;
    h1 { margin-bottom: 0px; }
    nav {
      padding-bottom: 10px;
      color: #aaa;

      span {
        color: #777;
        font-size: 12px;
        padding: 0 7px 0 7px;
      }
      div[fragment] {
        display: inline-block;
      }
      a {
        font-size: 12px;
        padding-right: 7px;
      }
      a.item { 
        padding: 0 7px 0 7px; 
      }
    }
  }
}

.tabs {
  width: @width;
  margin: auto;
  padding-bottom: 20px;
  ul {
    margin: 0;
    padding: 0;
    li {
      list-style-type: none; 
      display: inline-block;
      padding: 7px 14px 3px 14px;
      color: #777;
      font-size: 15px;
      font-variant: small-caps;
      border-top: 5px solid white;
    }
    li.active {
      border-top: 5px solid lighten(@dark, 20%);
    } 
  }
}

#content {
  padding-bottom: 50px;
  margin: auto;
  width: @width;
  min-height: 750px;

  #doc {
    width: 40em;
  }
}

.concept {
  div { display: inline-block; }
  .num { 
    margin: 0px 8px 8px 0;
    border-radius: 3px;
    color: #666;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    background: #ddd;
  }
  a {
    font-weight: bold;
  }
}

.topic {
  position: relative;
}

.map {
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  height: 500px;
}

.map.links {
  z-index: -10;
}

tt {
  font-size: 90%;
  font-family: @monospace;
  background: #eee;
}

pre {
  font-family: @monospace;
  font-size: 14px;
  line-height: 18px;
  background: #eee;
  padding: 10px 15px;
  border: 1px solid #ccc;
}

.footnote {
  font-size: 80%;
}

hr {
  margin: 40px auto 20px auto;
}

ul#cursos {
  padding: 0;

  li {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 0 12px 15px 0;
    display: inline-block;
    height: 160px;
    width: 120px;
    padding: 8px;

    a {
      font-weight: bold;
      h4 { margin: 0 }
    }
  }
}

div.course {
  width: 600px;
}

ul.course {
  margin: 0 auto 0 0;
  padding: 0;
  width: 550px;
  .topic {
    border-top: 1px solid #ddd;
    padding: 5px 0 10px 0;
    list-style-type: none;
    .left { 
      display: inline-block;
      h3 { margin-bottom: 2px; }
      p { 
        margin: 0;
        font-size: 80%;
        color: #777;
      }
    }
    .concepts {
      display: inline-block;
      float: right;
      margin: 0;
      padding: 0;
      width: 275px;
      li {
        display: inline-block;
        a {
          color: #666;
          display: block;
          margin: 0px 0px 5px 3px;
          width: 20px;
          height: 20px;
          background: #ccc;
          border-radius: 2px;
          text-align: center;
          font-size: 11px;
          line-height: 20px;
        }
        a:hover {
          background-color: #aaa;
        }
      }
    }
  }
}  

.clear { clear: both; }

.fraglist {
  margin: 0;
  padding: 20px;
  ul { 
    padding: 0; 
    margin: 0;
  }
  ul li { 
    list-style-type: none; 
  }
  p { margin: 0 0 5px 0; }
  tt { 
    font-size: 16px; 
    font-weight: bold; 
    padding: 2px 4px;
    border-radius: 4px;
    background-color: #cec;
    cursor: pointer;
  }
  pre { 
    margin: 0;
    padding: 5px; 
    background-color: #ccc;
    font-size: 11px;
    margin-bottom: 25px;
  }
}

