@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700");
@import url("http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700");
@import url("http://fonts.googleapis.com/css?family=Droid+Sans+Mono");

#content, #top .inner { width: 300px; }
ul.course             { width: 300px; }
ul.course .topic .concepts {
  width: 100%;
  margin-top: 1em;
}
.map-container { display: none; }

@media screen and (min-width: 480px) {
   #content, #top .inner { width: 450px; }
   ul.course             { width: 410px; }
   .map-container { clear: none; display: block; }
}
@media screen and (min-width: 750px) {
   #content, #top .inner { width: 720px; }
   ul.course             { width: 720px; }
   ul.course .topic .concepts {
     width: 410px;
     float: right;
   }
   .map-container { clear: none; display: block; }
}
@media screen and (min-width: 1200px) {
   #content, #top .inner { width: 1150px; }
   ul.course             { width: 1100px; }
   ul.course .topic .concepts {
     width: 780px;
     float: right;
   }
   .map-container { clear: none; display: block; }
}

html, body {
  height: 100%;
}
a {
  color: #364563;
  text-decoration: none;
}
a:hover {
  color: #29303d;
}
h1, h2, h3, h4 {
  margin: 0;
}
#doc h1 {
  font-size: 1.38em;
  font-weight: 700;
  font-family: "Open Sans Condensed";
}
h1 {
  font-family: "Open Sans";
  font-weight: 300;
  margin: 0.2em 0 0.3em 0;
  font-variant: normal;
  font-style: normal;
  font-size: 2.25em;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 0.875em;
}
header {
  padding: 0.5em 0 0.625em;
  margin: 0;
  background: #29303d;
  position: relative;
}
header a {
  color: white;
  text-decoration: none;
}
header a:hover {
  color: #eee;
}
header a#home {
  margin: 0;
  margin-right: 0.7em;
  margin-left: 0.6em;
  font-size: 1.375em;
  font-weight: bold;
}
header nav {
  display: inline;
}
header span.orange {
  color: orange;
}
header ul {
  margin: 0;
  padding: 0 0 0.2em 0;
  display: inline;
}
header ul li {
  margin-left: 0.62em;
  list-style-type: none;
  display: inline;
  padding: 0.2em 0.3em 0.2em 0.3em;
  border-radius: 0.2em;
}
header ul li .active {
  background: #333b4d;
}
footer {
  background: #29303d;
  color: white;
  padding: 1.5em 0 10em;
}
.inner {
  margin: auto;
}
#top {
  background: #f3f3f3;
  border-bottom: 1px solid #d7d7d7;
  padding: 0.2em 0 0 0;
}
#top .inner {
  position: relative;
}
#top .inner h1 {
  padding-top: .7em;
  /* margin-bottom: 0; */
}
#top .inner nav {
  position: absolute;
  top: 0;
  left: 0;
}
#top .inner nav div[fragment] {
  display: inline-block;
}
#top .inner nav a {
  font-size: 0.8em;
  padding-right: 0.7em;
  margin-right: .4em;
}
#top .inner nav a.item {
  padding: 0.2em 0.5em 0.2em 0.5em;
  border: 1px solid #ccc;
  background: #e7e7e7;
  border-radius: 0.3em;
}

#vid {
  margin-top: 1em;
}
#vid img {
  width: 40em;
}

#content {
  padding-bottom: 3.5em;
  margin: auto;
  min-height: 60em;
}
#doc {
  margin-top: 1em;
  width: 40em;
}
.concept div {
  display: inline-block;
}
.concept .num {
  margin: 0 0.5em 0.5em 0;
  border-radius: 0.2em;
  color: #666;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  background: #ddd;
}
.topic .list {
  float: left;
  margin-bottom: 2em;
}
.concept a {
  font-weight: bold;
}
.topic {
  font-size: 1.1em;
  vertical-align: top;
}
a:hover .num {
  background: #bbb;
}
.map-container {
  float: left;
  margin-left: 5em;
  position: relative;
}
.map {
  padding: 0;
  position: absolute;
  top: 0;
  left: 0;
}
.map .concept .num {
  box-shadow: 0.2em 0.2em 0.375em #999;
}
.map.links {
  z-index: -10;
}
pre, tt {
  font-family: "Droid Sans Mono", monospace;
  background: #eee;
}
tt {
  font-size: 90%;
}
pre {
  font-size: 0.875em;
  line-height: 1.125em;
  padding: 0.62em 0.95em;
  border: 1px solid #ccc;
}
.footnote {
  font-size: 80%;
}
hr {
  margin: 25em auto 1.25em auto;
}
ul#cursos {
  padding: 0;
}
ul#cursos li {
  border: 1px solid #ddd;
  border-radius: 0.3em;
  margin: 0 0.75em 0.95em 0;
  display: inline-block;
  height: 11em;
  width: 8.6em;
  padding: 0.5em;
}
ul#cursos li a {
  font-weight: bold;
}
ul#cursos li a h4 {
  margin: 0;
}
ul.course {
  margin: 0;
  padding-bottom: .5em;
  padding: 0;
}
ul.course .topic {
  font-size: .9em;
  border-top: 1px solid #e7e7e7;
  list-style-type: none;
  padding: .4em 0 .4em 0;
}
ul.course .topic .left {
  display: inline-block;
  margin-left: .3em;
  margin-bottom: .7em;
}
ul.course .topic .left h3 {
  margin-bottom: 0.125em;
  font-size: 1.3em;
}
ul.course .topic .left p {
  margin: 0;
  font-size: 80%;
  color: #777;
}
ul.course .topic .concepts {
  display: inline-block;
  margin: 0;
  padding: 0;
}
ul.course .topic .concepts li {
  display: inline-block;
}
ul.course .topic .concepts li a {
  color: #666;
  display: block;
  margin: 0.3em 0.2em;
  width: 2em;
  height: 2em;
  background: #ccc;
  border-radius: 0.2em;
  text-align: center;
  font-size: 1.1em;
  line-height: 2em;
}
ul.course .topic .concepts li a:hover {
  background-color: #aaa;
}
.clear {
  clear: both;
}


.fraglist {
  margin: 0;
  padding: 1.25em;
}
.fraglist ul {
  padding: 0;
  margin: 0;
}
.fraglist ul li {
  list-style-type: none;
}
.fraglist p {
  margin: 0 0 0.3em 0;
}
.fraglist tt {
  font-size: 1em;
  font-weight: bold;
  padding: 0.125em 0.25em;
  border-radius: 0.25em;
  background-color: #cec;
  cursor: pointer;
}
.fraglist pre {
  margin: 0;
  padding: 0.3em;
  background-color: #ccc;
  font-size: 0.75em;
  margin-bottom: 1.5em;
}
